<template>
	<div>
        <!-- home-slider -->
		<main class="main-content">
			<div class="container">
				<div class="page">
					<section>
						<header>
							<h2 class="section-title">New Products</h2>
							<a href="#" class="all">Show All</a>
						</header>
						<div class="product-list">
							<div class="product" v-for="book in books" v-bind:key="book.id">
								<div class="inner-product">
									<div class="figure-image">
										<a href="#"><img :src="book.photo" style="height: 150px;"></a>
									</div>
									<h3 class="product-title"><a href="#">{{ book.en_name }}</a></h3>
									<!-- <small class="price">$19.00</small>
									<p>Lorem ipsum dolor sit consectetur adipiscing elit do eiusmod tempor...</p>
									<a href="cart.html" class="button">Add to cart</a> -->
									<a href="#" class="button muted">Read Details</a>
								</div>
							</div> <!-- .product -->
						</div> <!-- .product-list -->

					</section>
                    <nav aria-label="" style="width: 1500px;">
                        <div class="pagination">
                                <div v-if="show_previous" class="row" style="width: 150px;">
                                    <router-link tag="li" to="/book/1" v-on:click.native="urlreload()" class="page-item" exact-active-class="active">
                                        <a href="#" class="page-link">Previous</a>
                                    </router-link>
                                    <router-link tag="li" :to="{path: '/book/' + backward_button}" v-on:click.native="urlreload()" class="page-item" exact-active-class="active">
                                        <a href="#" class="page-link"><span aria-hidden="true">&laquo;</span></a>
                                    </router-link>
                                </div>
                                <div v-for="page in last_page" v-if="show_list" v-bind:key="page" class="row">
                                    <router-link tag="li" :to="{path: '/book/' + page}" v-on:click.native="urlreload()" class="page-item" exact-active-class="active">
                                        <a href="#" class="page-link">{{ page }} <span v-if="page === current_page" class="sr-only">(current)</span></a>
                                    </router-link>
                                </div>
                                <div v-if="show_filter_list" class="row">
                                    <router-link tag="li" v-if="need_value" :to="{path: '/book/' + (current_page - 1)}" v-on:click.native="urlreload()" class="page-item" exact-active-class="active">
                                        <a href="#" class="page-link">{{ current_page - 1 }} </a>
                                    </router-link>
                                    <router-link tag="li" :to="{path: '/book/' + current_page}" v-on:click.native="urlreload()" class="page-item" exact-active-class="active">
                                        <a href="#" class="page-link">{{ current_page }} <span class="sr-only">(current)</span></a>
                                    </router-link>
                                    <router-link tag="li" v-if="over_value" :to="{path: '/book/' + (current_page +1)}" v-on:click.native="urlreload()" class="page-item" exact-active-class="active">
                                        <a href="#" class="page-link">{{ current_page +1 }} </a>
                                    </router-link>
                                </div>
                                <div v-if="show_next" class="row">
                                    <router-link tag="li" :to="{path: '/book/' + next_button}" v-on:click.native="urlreload()" class="page-item" exact-active-class="active">
                                        <a href="#" class="page-link"><span aria-hidden="true">&raquo;</span></a>
                                    </router-link>
                                    <router-link tag="li" :to="{path: '/book/' + last_page}" v-on:click.native="urlreload()" class="page-item" exact-active-class="active">
                                        <a href="#" class="page-link">Last</a>
                                    </router-link>
                                </div>

                            <!--<li class="page-item" v-if="show_previous">-->
                                <!--<a class="page-link" href="#" tabindex="-1">Previous</a>-->
                            <!--</li>-->
                        </div>
                    </nav>
				</div>
			</div> <!-- .container -->
		</main> <!-- .main-content -->
	</div>
</template>
<script>// eslint-disable-next-line
/* eslint-disable */
export default {
    name: 'Book',
        data () {
            return {
                msg: 'This is Books Page',
                books: null,
                last_page: null,
                current_page: null,
                show_previous: false,
                backward_button: null,
                show_next: false,
                next_button: false,
                show_list: false,
                filter_list_value: null,
                show_filter_list: false,
                need_value: true,
                over_value: true,
            }
        },
        watch: {
            '$route': 'fetchData'
        },
        created(){
            Vue.http.headers.common['api_key'] = 'hV0fO69AUaaURrilgY2MtC54ISbCeOchM8yYq7x6rE3WoNqgaHTvijbXGPm9JkY5KSOzToZin7rrcgoD2Inqqq9Unp3TbGn6ZzPE6t2EeJDBfBo3aoGY9fdLz3VBBTtEIB8FCpsppwBcbj2C3GPTOGyqV8LrIdew1k0yMvj1aC2zikNBgcJjlycRtxmKSY4L05Yy1msM';
            Vue.http.get('http://localhost:8000/api/booksapi/'+this.$route.params.page).then(
                response => {
                    let apidata_books=[];
                    response.data.data.forEach(function(element,index){

                        // console.log(element.attributes)
                        apidata_books.push(element.attributes)

                        // this.allbooks.push(element.attributes)
                        // console.log(this.allbooks)
                        // console.log(element.relations.booktype)
                    })
                    this.books = apidata_books
                    // console.log(this.books)
                    this.last_page = response.data.meta.last_page
                    this.current_page = response.data.meta.current_page
                    this.filter_list_value = this.last_page - this.current_page
                    if(this.last_page > 2){
                        if((this.current_page - 1) === 0){
                            this.need_value = false
                        }
                        if((this.current_page + 1) > this.last_page){
                            this.over_value = false
                        }
                        this.show_filter_list = true
                        this.show_list = false
                    } else {
                        this.show_filter_list = false
                        this.show_list = true
                    }
                    if(this.current_page > 1){
                        this.show_previous = true
                    }
                    if((this.last_page - this.current_page) > 0){
                        this.show_next = true
                        this.next_button = this.current_page + 1
                    }
                    this.backward_button = this.current_page - 1

                    console.log(this.last_page)
                    console.log(response.data.meta)
                    // this.apidata_towns = response.data.towns
                    // this.apidata_townships = response.data.townships
                }
            )
        },
        methods: {
            urlreload(){
                this.$router.go(this.$router.currentRoute);
            }
        }
}
</script>
