<template>
	<div>
		<div class="home-slider">
			<ul class="slides">
				<li data-bg-image="static/dummy/slide-1.jpg">
					<div class="container">
						<div class="slide-content">
							<h2 class="slide-title">Buy Books</h2>
							<small class="slide-subtitle">$190.00</small>
							<p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
							<a href="cart.html" class="button">Add to cart</a>
						</div>
						<img src="static/dummy/cover-1.jpg" style="width: 344px; height: 394px;" class="slide-image">
					</div>
				</li>
				<li data-bg-image="static/dummy/slide-2.jpg">
					<div class="container">
						<div class="slide-content">
							<h2 class="slide-title">Sell Books</h2>
							<small class="slide-subtitle">$150.00</small>
							<p>Perspicdsfddsfiatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
							<a href="cart.html" class="button">Add to cart</a>
						</div>
						<img src="static/dummy/cover-2.jpg" style="width: 344px; height: 394px;" class="slide-image">
					</div>
				</li>
				<li data-bg-image="static/dummy/slide-3.jpg">
					<div class="container">
						<div class="slide-content">
							<h2 class="slide-title">Hire Books</h2>
							<small class="slide-subtitle">$10.00</small>
							<p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
							<a href="cart.html" class="button">Add to cart</a>
						</div>
						<img src="static/dummy/cover-3.jpg" style="width: 330px; height: 380px;" class="slide-image">
					</div>
				</li>
			</ul> <!-- .slides -->
		</div> <!-- .home-slider -->
		<main class="main-content">
			<div class="container">
				<div class="page">
					<section>
						<header>
							<h2 class="section-title">New Products</h2>
							<a href="#" class="all">Show All</a>
						</header>
						<div class="product-list">
							<div class="product" v-for="book in books" v-bind:key="book.id">
								<div class="inner-product">
									<div class="figure-image">
										<a href="single.html"><img :src="book.photo" style="height: 150px;"></a>
									</div>
									<h3 class="product-title"><a href="#">{{ book.en_name }}</a></h3>
									<!-- <small class="price">$19.00</small>
									<p>Lorem ipsum dolor sit consectetur adipiscing elit do eiusmod tempor...</p>
									<a href="cart.html" class="button">Add to cart</a> -->
									<a href="#" class="button muted">Read Details</a>
								</div>
							</div> <!-- .product -->
						</div> <!-- .product-list -->
					</section>
				</div>
			</div> <!-- .container -->
		</main> <!-- .main-content -->
	</div>
</template>
<script>
// eslint-disable-next-line
/* eslint-disable */
export default {
	name: 'Home',
	data () {
		return {
		  msg: 'This is Home Page',
		  books: null,
		}
	},
	created () {
    Vue.http.headers.common['api_key'] = 'hV0fO69AUaaURrilgY2MtC54ISbCeOchM8yYq7x6rE3WoNqgaHTvijbXGPm9JkY5KSOzToZin7rrcgoD2Inqqq9Unp3TbGn6ZzPE6t2EeJDBfBo3aoGY9fdLz3VBBTtEIB8FCpsppwBcbj2C3GPTOGyqV8LrIdew1k0yMvj1aC2zikNBgcJjlycRtxmKSY4L05Yy1msM';
    Vue.http.get('http://localhost:8000/api/booksapi/1').then(
			response => {
				let apidata_books=[];

		    	response.data.data.forEach(function(element,index){

		    		// console.log(element.attributes)
		    		apidata_books.push(element.attributes)

		    		// this.allbooks.push(element.attributes)
		    		// console.log(this.allbooks)
		    		// console.log(element.relations.booktype)
		    	});
		    	this.books = apidata_books
		    	console.log(this.books)
		        // this.apidata_towns = response.data.towns
		        // this.apidata_townships = response.data.townships
	    	}
	    )

	}
}
</script>
