<template>
  <div class="auth-popup popup">
    <a href="#" class="close"><i class="fa fa-times"></i></a>
    <div class="row">
      <div class="col-md-6">
        <h2 class="section-title">Login</h2>
        <div>
          <div v-if="login_success_status">
            <p style="color:green">User login Successfully !</p>
          </div>
          <div v-if="login_error_status">
            <p style="color:red">We are sorry, invalid user login !</p>
          </div>
          <input type="text" v-model="login_email" placeholder="Email...">
          <input type="password" v-model="login_password" placeholder="Password...">
          <button v-on:click="loginUser()" value="Login">Login</button>
        </div>
      </div> <!-- .column -->
      <div class="col-md-6">
        <h2 class="section-title">Create an account</h2>
        <div>
          <div v-if="error_status">
            <p style="color:red">We are sorry, your provided information is something wrong. Please, try again
              later.</p>
          </div>
          <div v-if="success_status">
            <p style="color:green">Your account is registered !</p>
          </div>
          <span v-for="register_name in error_reg_name" style="color:red; font-size: small; padding-bottom: 5px;">
              {{ register_name }}
            </span>
          <input v-model="reg_name" type="text" placeholder="Username...">
          <span v-for="register_email in error_reg_email" style="color:red; font-size: small; padding-bottom: 5px;">
              {{ register_email }}
            </span>
          <input v-model="reg_email" type="text" placeholder="Email address...">
          <span v-for="register_password in error_reg_password"
                style="color:red; font-size: small; padding-bottom: 5px;">
              {{ register_password }}
            </span>
          <input v-model="reg_password" v-on:change="checkConfirm()" type="password" placeholder="Password...">
          <span v-if="error_reg_conpassword" style="color:red; font-size: small; padding-bottom: 5px;">
              Your confirm password does not matct.
            </span>
          <input v-model="reg_confirm_password" v-on:change="checkConfirm()" type="password"
                 placeholder="Confirm Password...">
          <button type="submit" v-on:click="registerUser()" value="register">Register</button>
        </div>
      </div> <!-- .column -->
    </div> <!-- .row -->
  </div> <!-- .auth-popup -->
</template>

<script>
  /* eslint-disable */
  export default {
    name: "Login",
    data: function () {
      return {
        reg_name: null,
        reg_email: null,
        reg_password: null,
        reg_confirm_password: null,
        reg_user: {
          'name': 'aa',
          'email': 'bb',
          'password': 'cc'
        },
        error_status: false,
        error_message: null,
        error_reg_email: null,
        error_reg_name: null,
        error_reg_password: null,
        error_reg_conpassword: false,
        reg_status: null,
        success_status: false,
        login_user: {
          'email': 'aa',
          'password': 'bb'
        },
        login_email: null,
        login_password: null,
        auth_token: null,
        login_error_status: false,
        login_success_status: false,
        login_status: 'nothing',
      }
    },
    created() {
      self.login_status = localStorage.getItem('auth_login')
      console.log(self.login_status)
      if (this.login_success === true) {
        this.$router.push({name: 'Book_Type'});
      }
    },
    methods: {
      checkConfirm() {
        const self = this;
        if (self.reg_password !== self.reg_confirm_password) {
          self.error_reg_conpassword = true;
        } else {
          self.error_reg_conpassword = false;
        }
      },
      loginUser() {
        const self = this;
        self.login_user = {
          'email': this.login_email,
          'password': this.login_password
        };
        console.log(self.login_user)
        this.$route.push('/booktype');
        Vue.http.headers.common['api_key'] = 'hV0fO69AUaaURrilgY2MtC54ISbCeOchM8yYq7x6rE3WoNqgaHTvijbXGPm9JkY5KSOzToZin7rrcgoD2Inqqq9Unp3TbGn6ZzPE6t2EeJDBfBo3aoGY9fdLz3VBBTtEIB8FCpsppwBcbj2C3GPTOGyqV8LrIdew1k0yMvj1aC2zikNBgcJjlycRtxmKSY4L05Yy1msM';
        Vue.http.post('http://localhost:8000/api/login_user', this.login_user).then(
          response => {
            self.auth_token = response.data.token
            console.log(self.auth_token);
            localStorage.setItem('auth_login', 'login');
            localStorage.setItem('token', self.auth_token);
            self.login_success = true;
            this.$route.push('/booktype');

            self.login_success_status = true;
            self.login_error_status = false;
          })
          .catch(
            error => {
              self.error_message = error.body;
              console.log(self.error_message);
              self.login_error_status = true;
              self.login_success_status = false;
            }
          )
      },
      registerUser() {
        // console.log(1);
        this.reg_user = {
          'reg_name': this.reg_name,
          'reg_email': this.reg_email,
          'reg_password': this.reg_password
        }
        const self = this;
        Vue.http.headers.common['api_key'] = 'hV0fO69AUaaURrilgY2MtC54ISbCeOchM8yYq7x6rE3WoNqgaHTvijbXGPm9JkY5KSOzToZin7rrcgoD2Inqqq9Unp3TbGn6ZzPE6t2EeJDBfBo3aoGY9fdLz3VBBTtEIB8FCpsppwBcbj2C3GPTOGyqV8LrIdew1k0yMvj1aC2zikNBgcJjlycRtxmKSY4L05Yy1msM';
        Vue.http.post('http://localhost:8000/api/store_user', this.reg_user).then(
          response => {
            self.reg_status = response.data
            if (self.reg_status === "success") {
              self.success_status = true
              self.error_status = false
              self.error_reg_email = null
              self.error_reg_name = null
              self.error_reg_password = null
              self.error_reg_conpassword = false
            }
          })
          .catch(
            error => {
              self.error_message = error.body;
              self.error_reg_email = self.error_message.errors.reg_email;
              self.error_reg_name = self.error_message.errors.reg_name;
              self.error_reg_password = self.error_message.errors.reg_password;

              console.log(self.error_reg_email);
              console.log(self.error_reg_name);
              console.log(self.error_reg_password);

              self.error_status = true;
              self.success_status = false;
            }
          )
      }
    }
  }
</script>

<style scoped>

</style>
