<template>
  <div>
    <login></login>
    <div class="site-header">
      <div class="container">
        <a href="#" id="branding">
          <img src="images/logo.png" alt="" class="logo">
          <div class="logo-text">
            <h1 class="site-title">Weknow Library</h1>
            <!--             <small class="site-description">Tagline goes here</small> -->
          </div>
        </a> <!-- #branding -->

        <div class="right-section pull-right">
          <a href="#" class="cart"><i class="icon-cart"></i> 0 items in cart</a>
          <a href="#" class="login-button">Login/Register</a>
        </div>
        <div class="main-navigation">
          <button class="toggle-menu"><i class="fa fa-bars"></i></button>
          <ul class="menu">
            <router-link tag="li" to="/" exact-active-class="current-menu-item" v-on:click.native="reloadUrl()">
              <a href="" v-on:click="reloadUrl()"><i class="icon-home"></i></a>
            </router-link>
            <router-link tag="li" to="/book/1" exact-active-class="current-menu-item">
              <a href="">Books</a>
            </router-link>
            <router-link tag="li" to="/booktype" exact-active-class="current-menu-item" v-on:click.native="reloadUrl()">
              <a href="">Book Type</a>
            </router-link>
            <!-- <li id="menu-link" v-on:click="activeurl()" v-bind:class="[homeActive ? activeClass : '']" class="menu-item home"><router-link to="/"><i class="icon-home"></i></router-link></li>
            <li class="menu-item" v-on:click="activeurl()" v-bind:class="[bookActive ? activeClass : '']"><router-link to="/book" >Books</router-link></li>
            <li id="menu-link" class="menu-item"><a href="products.html">Promotions</a></li>
            <li id="menu-link" class="menu-item"><a href="products.html">PC</a></li>
            <li id="menu-link" class="menu-item"><a href="products.html">Playstation</a></li>
            <li id="menu-link" class="menu-item"><a href="products.html">Xbox</a></li>
            <li id="menu-link" class="menu-item"><a href="products.html">Wii</a></li> -->
          </ul> <!-- .menu -->
          <div class="search-form">
            <label><img src="static/images/icon-search.png"></label>
            <input type="text" placeholder="Search...">
          </div> <!-- .search-form -->

          <div class="mobile-navigation"></div> <!-- .mobile-navigation -->
        </div> <!-- .main-navigation -->
      </div> <!-- .container -->
    </div> <!-- .site-header -->
    <router-view/>
  </div>
</template>
<script>
/* eslint-disable */
import login from './components/Login'

export default {
  name: 'App',
  components: {
    login
  },
  data: function () {
    return {
      homeActive: false,
      bookActive: false,
      activeClass: 'current-menu-item',
      element: null,
      mToken: [],
      sToken: '',
      reg_user: {
        'reg_name': 'aa',
        'reg_email': 'bb',
        'reg_password': 'cc'
      }
    }
  },
  created: function () {
    // Vue.http.get('http://localhost:8000/api/generate_token').then(
    //     response => {
    //         // this.token = response.data
    //         console.log(response.data)
    //     }
    // )
    // this.token = {
    //     api_token: localStorage.getItem('token')
    // }
    // console.log(this.token)
    // let self = this;
    // Vue.http.headers.common['api_key'] = 'hV0fO69AUaaURrilgY2MtC54ISbCeOchM8yYq7x6rE3WoNqgaHTvijbXGPm9JkY5KSOzToZin7rrcgoD2Inqqq9Unp3TbGn6ZzPE6t2EeJDBfBo3aoGY9fdLz3VBBTtEIB8FCpsppwBcbj2C3GPTOGyqV8LrIdew1k0yMvj1aC2zikNBgcJjlycRtxmKSY4L05Yy1msM';
    // Vue.http.post("http://localhost:8000/api/store_user", this.reg_user).then(response => {
    //       console.log(response.data)
    //   })
  },
  methods: {
    reloadUrl() {
      this.$router.go(this.$router.currentRoute);
    },
    // generateToken(){
    //     return Vue.http.get('http://localhost:8000/api/generate_token').then(
    //         response => {
    //             localStorage.setItem('token', response.data);
    //             console.log(response.data)
    //             // this.token = {
    //             //     api_token: response.data
    //             // };
    //             // console.log(this.token)
    //         })
    // },
    // getToken(){
    //     return Vue.http.get('http://localhost:8000/api/get_token').then(
    //         response => {
    //             console.log(response.data)
    //             // console.log(response.data)
    //             // localStorage.setItem('token', response.data);
    //             // this.token = {
    //             //     'api_token' : response.data
    //             // }
    //         }
    //     )
    // }
  }
}
</script>
<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
